/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .carousel-inner{
        height: 500px;
    }
}


main{
    margin-top: 30px;
    margin-bottom: 30px;
}

.card{
    margin-top: 30px;
}

#accordionEXPLANTE{
    margin-top: 30px;
}

footer{
    background-color: salmon;
    color: black;
    padding: 10px;
}